.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 20px;
}

/* .software-skill-inline > i {
  color: #868e96;
}

.software-skill-inline > i:hover {
  color: #645beb;
} */

.software-skill-inline > a > p {
  color: #868e96;
  font-size: 10px;
}
.software-skill-inline > a > img:hover ~ p{
  color: #645beb;
}

.software-skill-inline > a > img {
  height: 64px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.software-skill-inline > a > img:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}